body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

input {
    height: 5vh;
    font-size: 3vh;
    width: 80%;
    box-sizing: border-box;
    float: left;
}

button {
    height: 5vh;
    width: 10%;
    float: left;
    font-size: 2vh;
}

.parent {
    width: 19.9%;
    float: left;
    margin: 0px 0px 0px 0px;
    padding-left: 0.05%;
    padding-right: 0.05%;
    background-color: rgb(102, 102, 102);
}

.date {
    width: 100%;
    background-color: papayawhip;
    font-size: 2vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

.temperature-box {
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 2vh;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.max-temp {
    color: rgb(255, 115, 0);
}

.min-temp {
    color:  rgb(0, 225, 255);
}

.day-box {
    width: 100%;
    background-color: rgb(243, 226, 148);
    padding-top: 2%;
    padding-bottom: 4%;
}

.night-box {
    width: 100%;
    background-color: rgb(147, 175, 212);
    padding-top: 2%;
    padding-bottom: 4%;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
}

.weather-phrase {
    font-size: 2.2vh;
    font-style: italic;
    font-weight: bold;
    color: rgb(82, 38, 0);
    display: block;
    margin: 0 auto;
}

.weather-label {
    font-size: 2vh;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}

.preci-probability {
    color: rgb(0, 0, 187);
    font-weight: bold;
}

.wind-speed {
    color: rgb(0, 61, 27);
    font-weight: bold;
}

.wind-direction {
    color: rgb(99, 0, 61);
    font-weight: bold;
}

.info-button {
    height: 2.5vh;
    width: 100%;
    font-size: 1.7vh;
}

.more-info {
    background-color: papayawhip;
    width: 20%;
    float: left;
    margin: 0px 0px 0px 0px;
    font-size: 1.8vh;
}

.real-feel {
    margin-top: 3%;
    display: block;
}

.rain {
    margin-top: 3%;
    display: block;
}

.thunder {
    margin-top: 3%;
    display: block;
}

.snow {
    margin-top: 3%;
    display: block;
}

.moon {
    margin-top: 3%;
    margin-bottom: 3%;
    display: block;
}

.moon-phase {
    font-weight: bold;
    color: rgb(86, 0, 94);
}

.moreinfo-day {
    font-weight: bold;
    color: rgb(124, 56, 0);
}

.moreinfo-night {
    font-weight: bold;
    color: rgb(0, 110, 124);
}

